/* ------------------------------------------ BRAND COLORS ------------------------------------------ */
/* ------------------------------------------ BRAND COLORS ------------------------------------------ */

$brand_gray-1: #A8B9BA;
$brand_gray-2: #92A1A3;
$brand_gray-3: #7A8687;
$brand_gray-4: #343939;

$light-gray-border: #D7DFCD;

$b: #000;
$w: #fff;

$gray: #ddd;
$placeholder: #EBEBEB;

$error: #f04646;

/* ------------------------------------------ BUTTON COLORS ------------------------------------------ */
/* ------------------------------------------ BUTTON COLORS ------------------------------------------ */

$brand-primary: darken(#428bca, 6.5%);
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;