html,body {
height: 100%;
}

body {
background-color: $brand_gray;
@include font(sans);
overflow: auto;
}

form {
margin: 0;
}

#main-header {
background-color: $brand_dark;
margin-bottom: 30px;

	#main-title {
	margin: 0;
	padding: 15px 0;

		#main-logo {
		display: block;
		height: auto;
		margin: 0 auto;
		width: 250px;
		}

	}

}

#input-block {
	
	#first-color-col,
	#last-color-col,
	#swatch-count-col {
	@include align-items(center);
	@include display-flex;
	@include justify-content(center);
	}

	#first-color-col {
	margin: 0 auto 0 0;
	}

	#swatch-count-col {
	background-color: $brand_brown;
	border-radius: 4px;
	margin: auto;
	@include flex-direction(row);
	padding: 15px;
		
		.title {
		@include align-items(center);
		color: $w;
		@include display-flex;
		@include font-size(16);
		margin-bottom: 0;
		margin-right: 15px;
		font-weight: 700;
		}

		#swatchCount {
		@include display-flex;
		float: right;
		}

	}

	#last-color-col {
	margin: 0 0 0 auto;
	}

	.color-field {
	@include font(mono);
	text-transform: uppercase;
	}

}

#output-block {
padding-top: 30px;

	#swatches {
	@include flex-direction(column);

		.swatch {

			.color {
			background-color: $brand_brown-lite;
			border-radius: 4px;
			cursor: pointer;
			@include transall();
			}

			.info {
			padding: 15px;

				.hex,
				.rgb {
				@include align-items(center);
				@include display-flex;
				
					.title {
					@include display-flex;
					@include font(condensed);
					}

					.code-wrap {
					background-color: $w;
					border-radius: 4px;
					@include display-flex;
					@include flex-direction(row);
					display: inline-block;
					padding: 3px 10px 5px;

						.code {
						@include display-flex;
						@include font(mono);
						@include font-size(14);
						}

						.clipboard-btn {
						@include display-flex;

							.clipboard-icon {
							display: block;
							height: 24px;
							width: auto;
							}

						}

					}

				}

				.hex {
				margin-bottom: 14px;

					.code {
					text-transform: uppercase;
					}

				}

				&.black {
					.title { color: $b; }
				}

				&.white {
					.title { color: $w; }
				}

			}
		
			&:hover {

				.color {
				@include scale(1.01);
				@include materialShadow(2);
				@include transall();
				}
				
			}

		}

	}

}

#main-footer {
background-color: $brand_dark;
bottom: 0;
color: $brand_gray;
margin: auto auto 0;
padding: 15px 0;
text-align: center;
width: 100%;
	
	a {
	color: $w;
	font-weight: 700;
	}

}