html,body {
height: 100%;
}

body {
background-color: $brand_gray;
@include font(sans);
overflow: auto;
}

form {
margin: 0;
}

#main-header {
background-color: $brand_dark;
margin-bottom: 30px;

	#main-title {
	margin: 0;
	padding: 15px 0;

		#main-logo {
		display: block;
		height: auto;
		width: 250px;
		}

	}

}

#input-block {
	
	#first-color-col {
	margin: 0 auto 0 0;
	}

	#swatch-count-col {
	background-color: $brand_brown;
	margin: auto;
	@include align-items(center);
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(center);
	padding: 15px;
		
		.title {
		@include align-items(center);
		color: $w;
		@include display-flex;
		@include font-size(16);
		margin-bottom: 0;
		margin-right: 15px;
		font-weight: 700;
		}

		#swatchCount {
		@include display-flex;
		float: right;
		}

	}

	#last-color-col {
	margin: 0 0 0 auto;
	}

	.color-field {
	@include font(mono);
	text-transform: uppercase;
	}

}

#output-block {
padding-top: 30px;

	#swatches {
	@include justify-content(center);
	}

	.color {
	background-color: $brand_brown-lite;
	@include aspect-ratio(1,1);
	}

}

#main-footer {
background-color: $brand_dark;
bottom: 0;
color: $brand_gray;
margin: auto auto 0;
padding: 15px 0;
position: absolute;
text-align: center;
width: 100%;
	
	a {
	color: $w;
	}

}